<a title="Alerts" href="#"><i class="fa fa-exclamation-circle"><span class="badge">9</span></i></a>
<ul class="mldropdown level-1 mldropdown-wide">
    <li>
        <div class="notification-container">

            <div class="notification">
                <div class="notification-message">
                    <a>John Nash</a> has requested action on <a>Call Log</a> on 06/12/2015
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification">
                <div class="notification-message">
                    <a>Fuze Care System</a> has requested action on <a>Eligibility Check</a> for <a>Elizabeth Laura</a>.
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification">
                <div class="notification-message">
                    <a>John Nash</a> has requested action on <a>Call Log</a> on 06/12/2015
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification">
                <div class="notification-message">
                    <a>Fuze Care System</a> has requested action on <a>Eligibility Check</a> for <a>Elizabeth Laura</a>.
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>

            <div class="notification" style="display: none;">
                <div class="notification-message">
                    <a>John Nash</a> has requested action on <a>Call Log</a> on 06/12/2015
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification" style="display: none;">
                <div class="notification-message">
                    <a>Fuze Care System</a> has requested action on <a>Eligibility Check</a> for <a>Elizabeth Laura</a>.
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification" style="display: none;">
                <div class="notification-message">
                    <a>John Nash</a> has requested action on <a>Call Log</a> on 06/12/2015
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification" style="display: none;">
                <div class="notification-message">
                    <a>Fuze Care System</a> has requested action on <a>Eligibility Check</a> for <a>Elizabeth Laura</a>.
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification" style="display: none;">
                <div class="notification-message">
                    <a>John Nash</a> has requested action on <a>Call Log</a> on 06/12/2015
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>
            <div class="notification" style="display: none;">
                <div class="notification-message">
                    <a>Fuze Care System</a> has requested action on <a>Eligibility Check</a> for <a>Elizabeth Laura</a>.
                </div>
                <ul class="notification-action">
                    <li><a class="postpone"><i class="fa fa-fw fa-info"></i></a></li>
                    <li><a class="dismiss"><i class="fa fa-fw fa-times"></i></a></li>
                    <li><a class="agree"><i class="fa fa-fw fa-check"></i></a></li>
                </ul>
            </div>

            <div class="show-more">Show More</div>
        </div>
    </li>

</ul>
