<div class="flex-row info-pane">

    <!-- <div class="fz-information-tab group">
        <ul class="info-heading group">
            <li class=""><a><span>3</span><p>Pending <br>Tasks</p></a></li>
            <li><a><span>15</span><p>Appointments <br>  Today</p></a></li>
            <li><a><span>4</span><p>Providers <br>  Unavailable</p></a></li>
        </ul>
        <ul class="information-alert-area">
            <li>
                <a>
                    <div class="alert-block group">
                        <div class="badge-alert">5</div>
                        <label>Alerts</label>
                    </div>
                </a>
            </li>
            <li class="plus-btn-area"><i class="fa fa-plus"></i></li>
        </ul>
    </div> -->

      <div class="flex-column ">
        <div class="fz-box padding p-medium border no-margin">
          <span class="fz-box-text">2 Tasks Due</span>
          <span class="fz-box-text">220 Claims To Send</span>
        </div>
      </div>
      <div class="flex-column ">
        <div class="fz-box has-hover padding p-medium border no-margin">
          <span class="fz-box-text">176 Rejected Claims</span>
          <span class="fz-box-text">3 Denied Claims</span>
        </div>
      </div>
      <div class="flex-column ">
        <div class="fz-box has-hover padding p-medium border no-margin">
          <span class="fz-box-text">7 No Response Claims</span>
          <span class="fz-box-text">364 Clearing House Reports</span>
        </div>
      </div>
      <div class="flex-column ">
        <div class="fz-box has-hover padding p-medium border no-margin">
          <span class="fz-box-text">4 Unread Messages</span>
          <span class="fz-box-text">&nbsp;</span>
        </div>
      </div>
      <div class="flex-column ">
        <div class="fz-box has-hover padding p-medium border no-margin">
          <span class="fz-box-text">2 Alerts</span>
          <span class="fz-box-text">&nbsp;</span>
        </div>
      </div>
    </div>
