<div class="fz-dialog-header">
    <h2>Forgot Password</h2>
    <a class="dialog-close"><i class="fa fa-times" ng-click="confirm(false)"></i></a>
</div>
<form name="forgotPassword" class="fz-form" xt-form xt-form-server={{invalidEmailMessage}} novalidate="novalidate">
    <div class="fz-dialog-content">
        <div class="fz-dialog-content-inner">
            <a class="static-logo" style="width: 100px; margin: 0 auto; display: block; margin-top: -15px;">
                <img src="/images/fuze-logo.png">
            </a>

            <div class="fz-form-content border">
                <xt-validation-summary></xt-validation-summary>
                <xt-server-validation-summary></xt-server-validation-summary>
                <div class="fz-group">
                    <div>
                        Please enter your registered email id below. An email will be send to you with directions to reset your password.
                    </div>
                </div>
                <div class="fz-group">
                    <label>Email/Username</label>
                    <div>
                        <input type="text" name="email" server-id="UnregisteredEmail" ng-model="ForgotPassword.Email" required msg-required="Please enter your email address" maxlength="255"  style="width: 100%;" />
                    </div>
                </div>
                <div class="fz-group">
                    <label>Account</label>
                    <div>
                        <select name="account" required msg-required="Please select your account" ng-model="ForgotPassword.AccountID" class="custom-form-control group" ng-options="item.AccountID as item.AccountName for item in ForgotPassword.Accounts">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <ul class="fz-action flex-row align-end" style="margin-bottom: 0;">
                <li>
                    <fz-submit value="Submit" ng-disabled="isLoading" function="forgotpassword(forgotPassword.$valid)"></fz-submit>
                </li>
            </ul>

        </div>
    </div>

</form>
