<header fz-idle>
    This is header section if you want to add anything here find me @ app/Shared/Templates/header.html

    <div class="fz-header-brand">
        <a ui-sref=".user.overview" class="logo">
        </a>

    </div>
    <!--<ul class="fz-action flex-row align-end flex-column">
          <li fz-dropdown="bottom-right">
              <a class="fz-button">New <i class="fa fa-angle-down icon-large right"></i></a>
              <div fz-dropdown-content>
                  <ul class="dropdown-menu">
                      <li ng-click="closeDropdown();OpenAddNewPatient();" fz-ui-trim="ADD" privilege-id="29"><a>Patient</a></li>
                      <li ng-click="closeDropdown();OpenAddNewAppointment();" fz-ui-trim="ADD" privilege-id="41"><a>Appointment</a></li>
                      <li ng-click="closeDropdown();OpenAddNewTreatmentPlan()" fz-ui-trim="VIEW" privilege-id="54"><a>Treatment Plan</a></li>
                      <li class="divider"></li>
                      <li ng-click="closeDropdown()"><a>Dental Claim</a></li>
                      <li ng-click="closeDropdown()"><a>Medical Claim</a></li>
                      <li fz-dropdown="left-top" fz-ui-trim="ADD" privilege-id="56">
                          <a>Payment<i class="fa fa-angle-left left"></i></a>
                          <div fz-dropdown-content>
                              <ul class="dropdown-menu">
                                  <li ng-click="closeDropdown();OpenAddNewPayment()" fz-ui-trim="ADD" privilege-id="56"><a>Pat/Ins Payment</a></li>
                                  <li ng-click="closeDropdown();" fz-ui-trim="ADD" privilege-id="56"><a>Apply Payment</a></li>
                              </ul>
                          </div>
                      </li>
                      <li class="divider"></li>
                      <li fz-dropdown="left-top" fz-ui-trim="ADD" privilege-id="51">
                          <a>Prescription<i class="fa fa-angle-left left"></i></a>
                          <div fz-dropdown-content>
                              <ul class="dropdown-menu">
                                  <li ng-click="closeDropdown();OpenAddNewPrescription();" fz-ui-trim="ADD" privilege-id="51"><a>New Prescription</a></li>
                                  <li ng-click="closeDropdown();OpenAddFromExistingPrescription();" fz-ui-trim="ADD" privilege-id="51"><a>From Existing Prescription</a></li>
                              </ul>
                          </div>
                      </li>
                      <li fz-dropdown="left-top" fz-ui-trim="ADD" privilege-id="53">
                          <a>Note<i class="fa fa-angle-left left"></i></a>
                          <div fz-dropdown-content>
                              <ul class="dropdown-menu">
                                  <li ng-click="closeDropdown();OpenAddnewNote()" fz-ui-trim="ADD" privilege-id="53"><a>Patient General</a></li>
                                  <li ng-click="closeDropdown();OpenAddnewNote()" fz-ui-trim="ADD" privilege-id="53"><a>Patient Clinical</a></li>
                                  <li ng-click="closeDropdown();OpenAddnewNote()" fz-ui-trim="ADD" privilege-id="53"><a>Patient Communication</a></li>
                              </ul>
                          </div>
                      </li>
                      <li ng-click="closeDropdown();OpenAddNewDocument();" fz-ui-trim="ADD" privilege-id="50"><a>Document</a></li>
                      <li class="divider"></li>
                      <li ng-click="closeDropdown();OpenAddNewAlert();" fz-ui-trim="ADD" privilege-id="49"><a>Alert</a></li>
                  </ul>
              </div>
          </li>
          <recent-patients></recent-patients>
          <li ng-click="OpenAllAlert();">
              <a class="fz-button">
                  <i class="fa fa-exclamation-triangle icon-large"></i>
                  <span ng-if="AlertCount > 0" class="fz-button-badge">{{AlertCount}}</span>
              </a>
          </li>
          <li>
              <a class="fz-button" href="#">
                  <i class="fa fa-list-alt icon-large" ng-click="sendChat()"></i>
                  <span class="fz-button-badge">5</span>
              </a>
          </li>
          <li fz-ui-trim="VIEW" privilege-id="1"><a class="fz-button" title="Setup" ui-sref="app.setup"><i class="fa fa-cog icon-large"></i></a></li>
          <fuze-dropdown></fuze-dropdown>
        </ul>
    </header> -->
</header>
