<div class="fz-login-window" ng-init="validateURL()" ng-show="validUrl == true">
    <div class="fz-login-wrapper">
        <div class="fz-login-container">
            <div class="fz-login">
                <div class="fz-login-header">Set Password</div>
                <div class="fz-login-logo">
                    <img src="/images/fuze-logo.png" alt="" />
                </div>
                <form name="setpassword" novalidate ng-class="{submitted:submitted}" xt-form xt-form-server={{PasswordMismatchMsg}}>
                    <div class="fz-login-content">
                        <div class="fz-box border border-light padding p-medium">
                            <ul>
                                <li>The password must be between 5 and 32 character.</li>
                                <li>It should be a combination of uppercase, lowercase, number, special character</li>
                                <li>It should not be the same as emailname</li>
                            </ul>
                        </div>
                        <xt-server-validation-summary></xt-server-validation-summary>
                        <div class="fz-login-group">
                            <i class="fa fa-fw fa-unlock-alt"></i>
                            <input placeholder="New Password" name="Password" ng-model="request.Password" type="password"
                                   server-id="WrongPassword"
                                   maxlength="32">
                        </div>
                        <div class="fz-login-group group">
                            <i class="fa fa-fw fa-unlock-alt"></i>
                            <input placeholder="Confirm Password" name="passwordconfirm" ng-model="request.passwordconfirm" type="password"
                                   server-id="WrongPassword" maxlength="32">
                        </div>

                    </div>
                    <div class="fz-login-footer group">
                        <fz-submit value="Submit" function="Submit()"></fz-submit>
                    </div>

                </form>
            </div>
        </div>
    </div>
