<div class="sidebar flex-sidebar">
    <div class="sidebar-inner">
        <div class="user-panel group">
            <div class="user-image"><a><img src="/images/cdg-logo.png"></a></div>
            <h2>Celebration Dental Group (12345)</h2>
            <!--<p>05/20/2012 (3 years)</p>-->
            <!--<span class="green-label">Active</span>-->
        </div>
        <!--<ul class="sidebar-menu">-->
        <!--<li><a ><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>-->
        <!--<li><a ><i class="fa fa-fw fa-calendar"></i> Calendar</a></li>-->
        <!--</ul>-->
        <ul class="sidebar-menu">
            <li class="active"><a ui-sref="app.setup"><i class="fa fa-fw fa-info-circle"></i>Basic Information</a></li>
            <li class=""><a ui-sref="app.locations"><i class="fa fa-fw fa-map-marker"></i>Locations</a></li>
            <div class="accordion-sidepanel">
                <div class="accordion-item "><a><i class="fa fa-fw fa-cubes"></i>Administration<span class=" plus fa fa-plus right"> </span><span class=" minus fa fa-minus right"> </span></a></div>
                <div class="accordion-item-data ">
                    <ul>
                        <!--<li><a class="" href="administration">Roles</a></li>-->
                        <!--<li><a class="" href="setup-administration-group">Groups</a></li>-->
                        <li><a class="" href="setup-administration-profile">Profiles</a></li>
                        <li><a class="" href="users">Users</a></li>
                    </ul>
                </div>
            </div>
            <!--<li class=""><a href="users"><i class="fa fa-fw fa-users"></i>Users</a></li>-->
        </ul>

        <ul class="sidebar-menu">

            <div class="accordion-sidepanel">
                <div class="accordion-item  "><a><i class="fa fa-fw fa-code"></i>Codes<span class=" plus fa fa-plus right"> </span><span class=" minus fa fa-minus right"> </span></a></div>
                <div class="accordion-item-data ">
                    <ul>
                        <li><a class="" href="codes">ADA Codes - 2015</a></li>
                        <li><a class="" href="setup-medical-codes">Medical Codes</a></li>
                        <li><a class="" href="setup-icd-codes">ICD - 10 Codes</a></li>
                        <li><a class="" href="setup-taxonomy-codes">Taxonomy Codes</a></li>
                        <li><a class="" href="setup-custom-codes">Custom Codes</a></li>
                        <li><a class="" href="setup-explosion-codes">Explosion Codes</a></li>

                    </ul>
                </div>
            </div>


            <!--<div class='accordion-sidepanel'>-->
            <!--<div class="accordion-item "><a><i class="fa fa-fw fa-money"></i>Insurance Categories<span class=" plus fa fa-plus right"> </span><span class=" minus fa fa-minus right"> </span></a></div>-->
            <!--<div class="accordion-item-data ">-->
            <!--<ul>-->
            <!--<li><a class="" href="setup-insurance-category">Ins. Categories</a></li>-->
            <!--<li><a class="" href="setup-insurance-assignments">Assign Ins. Categories</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->

            <li class=""><a href="setup-insurance-assignments"><i class="fa fa-fw fa-money"></i>Insurance Categories</a></li>
            <li class=""><a href="employers"><i class="fa fa-fw fa-user-plus"></i>Employers</a></li>
            <li class=""><a href="payors"><i class="fa fa-fw fa-users"></i>Payors</a></li>
            <li class=""><a href="plans"><i class="fa fa-fw fa-check-circle"></i>Plans</a></li>

            <div class="accordion-sidepanel">
                <div class="accordion-item "><a><i class="fa fa-fw fa-database"></i>Fee Schedules<span class=" plus fa fa-plus right"> </span><span class=" minus fa fa-minus right"> </span></a></div>
                <div class="accordion-item-data ">
                    <ul>
                        <li><a class="" href="fee-schedule">Fee Schedules</a></li>
                        <li><a class="" href="fee-schedule-assignments">Assignments</a></li>
                        <li><a class="" href="fee-schedule-hierarchy">Hierarchy</a></li>
                    </ul>
                </div>
            </div>
        </ul>

        <ul class="sidebar-menu">

            <div class="accordion-sidepanel">
                <div class="accordion-item "><a><i class="fa fa-fw fa-usd"></i>Payments<span class=" plus fa fa-plus right"> </span><span class=" minus fa fa-minus right"> </span></a></div>
                <div class="accordion-item-data ">
                    <ul>
                        <li><a class="" href="payment">General</a></li>
                        <li><a class="" href="setup-ada">ADA - 2012</a></li>
                        <li><a class="" href="setup-cms">CMS - 1500</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion-sidepanel">
                <div class="accordion-item "><a><i class="fa fa-fw fa-calendar-o"></i>Scheduler<span class=" plus fa fa-plus right"> </span><span class=" minus fa fa-minus right"> </span></a></div>
                <div class="accordion-item-data ">
                    <ul>
                        <li><a class="" href="production-type">Production Types</a></li>
                        <li><a class="" href="scheduler-working">Working Hours</a></li>
                        <li><a class="" href="scheduler-holiday">Holidays</a></li>
                    </ul>
                </div>
            </div>
            <li class=""><a href="setup-communication"><i class="fa fa-fw fa-phone"></i>Templates</a></li>
            <li class=""><a href="workflow"><i class="fa fa-fw fa-cubes"></i>Workflows</a></li>
            <li class=""><a href="medical-alerts"><i class="fa fa-fw fa-exclamation-triangle"></i>Medical Alerts</a></li>
            <li class=""><a href="setup-collection-agency"><i class="fa fa-fw fa-user-secret"></i>Collection Agencies</a></li>
            <li class=""><a href="setup-account-billing"><i class="fa fa-fw fa-usd"></i>Account Billing</a></li>

        </ul>
    </div>

</div>
